


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."create_booking_with_items"("p_booking_data" "jsonb", "p_booking_items" "jsonb") RETURNS "jsonb"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  -- Espacio para declarar las variables que usaremos internamente
  v_new_booking RECORD;      -- Guardar├í toda la fila de la reserva reci├®n creada
  v_staff_name TEXT;         -- Guardar├í el nombre del empleado
  v_conflict_exists BOOLEAN; -- Ser├í 'true' si el hueco ya est├í ocupado, 'false' si est├í libre
  v_staff_id UUID;           -- El ID del empleado
  v_start_time TIMESTAMPTZ;  -- Inicio de la cita
  v_end_time TIMESTAMPTZ;    -- Fin de la cita
BEGIN
  -- 1. PREPARACI├ôN DE VARIABLES
  -- Extraemos los datos del JSON que nos manda Next.js y los metemos en variables
  -- para que sea m├ís f├ícil usarlos en los c├ílculos siguientes.
  v_staff_id := (p_booking_data->>'staff_id')::UUID;
  v_start_time := (p_booking_data->>'start_time')::TIMESTAMPTZ;
  v_end_time := (p_booking_data->>'end_time')::TIMESTAMPTZ;

  -- ==========================================
  -- FASE 0: EL CANDADO ANTI-SOLAPAMIENTO (RACE CONDITION)
  -- ==========================================
  
  -- PASO A: Poner el candado en la puerta.
  -- Usamos 'hashtext' para convertir el ID del empleado (letras y n├║meros) en un n├║mero ├║nico.
  -- Le decimos a Postgres: "Cierra la puerta para este n├║mero de empleado".
  -- Si otra reserva intenta entrar para el mismo empleado, se quedar├í aqu├¡ pausada esperando.
  PERFORM pg_advisory_xact_lock(hashtext(v_staff_id::text));

  -- PASO B: Mirar la agenda.
  -- Ya estamos solos en la habitaci├│n con la puerta cerrada. 
  -- Comprobamos si hay alguna reserva que se cruce con nuestro horario.
  SELECT EXISTS (
    SELECT 1 FROM bookings
    WHERE staff_id = v_staff_id
      AND status NOT IN ('cancelled', 'rejected') -- Ignoramos las canceladas
      AND start_time < v_end_time                 -- Condici├│n matem├ítica de solapamiento
      AND end_time > v_start_time
  ) INTO v_conflict_exists;

  -- PASO C: Decidir qu├® hacer.
  -- Si 'v_conflict_exists' es verdadero, alguien nos acaba de robar el sitio.
  -- Lanzamos un EXCEPTION. Esto cancela autom├íticamente toda la transacci├│n, 
  -- quita el candado al instante y devuelve el texto 'CONFLICT...' a tu c├│digo de Next.js.
  IF v_conflict_exists THEN
    RAISE EXCEPTION 'CONFLICT: Este hueco acaba de ser ocupado.';
  END IF;

  -- ==========================================
  -- FASE 1: CREAR LA RESERVA PRINCIPAL
  -- ==========================================
  -- Si hemos llegado aqu├¡, el hueco es 100% nuestro. 
  -- Guardamos la cabecera de la reserva.
  INSERT INTO bookings (
    business_id, customer_id, staff_id, date, start_time, end_time,
    status, total_price, payment_method, customer_name, customer_email, customer_phone
  )
  VALUES (
    (p_booking_data->>'business_id')::UUID,
    (p_booking_data->>'customer_id')::UUID,
    v_staff_id,
    (p_booking_data->>'date')::DATE,
    v_start_time,
    v_end_time,
    p_booking_data->>'status',
    (p_booking_data->>'total_price')::NUMERIC,
    p_booking_data->>'payment_method',
    p_booking_data->>'customer_name',
    p_booking_data->>'customer_email',
    p_booking_data->>'customer_phone'
  )
  RETURNING * INTO v_new_booking; -- Guardamos los datos generados (como el nuevo ID)

  -- ==========================================
  -- FASE 2: CREAR LOS SERVICIOS ASOCIADOS (ITEMS)
  -- ==========================================
  -- Desglosamos el array de servicios y los insertamos uno a uno
  -- vincul├índolos al ID de la reserva que acabamos de crear arriba.
  INSERT INTO booking_items (booking_id, business_id, service_id, price, duration, service_name)
  SELECT
    v_new_booking.id,
    (item->>'business_id')::UUID,
    (item->>'service_id')::UUID,
    (item->>'price')::NUMERIC,
    (item->>'duration')::INTEGER,
    item->>'service_name'
  FROM jsonb_array_elements(p_booking_items) AS item;

  -- ==========================================
  -- FASE 3: DATOS EXTRAS PARA RESPONDER AL FRONTEND
  -- ==========================================
  -- Tu frontend necesita el nombre del empleado para enviar el email de confirmaci├│n.
  -- Lo buscamos en la tabla profiles.
  SELECT full_name INTO v_staff_name 
  FROM profiles 
  WHERE id = v_new_booking.staff_id;

  -- ==========================================
  -- FASE 4: ├ëXITO Y FIN DE LA TRANSACCI├ôN
  -- ==========================================
  -- Devolvemos un JSON limpio con lo m├¡nimo que necesita Next.js.
  -- Al llegar al "END", Postgres guarda (COMMIT) la reserva y los servicios en el disco duro,
  -- y autom├íticamente abre el candado de la puerta para el siguiente cliente.
  RETURN jsonb_build_object(
    'id', v_new_booking.id,
    'staff', jsonb_build_object('full_name', COALESCE(v_staff_name, 'El equipo'))
  );
END;
$$;


ALTER FUNCTION "public"."create_booking_with_items"("p_booking_data" "jsonb", "p_booking_items" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_my_business_id"() RETURNS "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT business_id FROM profiles WHERE id = auth.uid() LIMIT 1;
$$;


ALTER FUNCTION "public"."get_my_business_id"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."blocked_periods" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "staff_id" "uuid" NOT NULL,
    "start_date" timestamp with time zone NOT NULL,
    "end_date" timestamp with time zone NOT NULL,
    "reason" "text",
    "business_id" "uuid" NOT NULL,
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    CONSTRAINT "blocked_periods_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'completed'::"text"])))
);


ALTER TABLE "public"."blocked_periods" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."booking_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "booking_id" "uuid",
    "service_id" "uuid",
    "price" numeric NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "duration" numeric,
    "service_name" "text",
    "business_id" "uuid"
);


ALTER TABLE "public"."booking_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."bookings" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "business_id" "uuid" NOT NULL,
    "staff_id" "uuid" NOT NULL,
    "customer_id" "uuid",
    "customer_name" "text" NOT NULL,
    "customer_phone" "text" NOT NULL,
    "customer_email" "text" NOT NULL,
    "date" "date" NOT NULL,
    "start_time" timestamp with time zone NOT NULL,
    "end_time" timestamp with time zone NOT NULL,
    "comment" "text",
    "status" "text" DEFAULT 'confirmed'::"text",
    "payment_method" "text",
    "total_price" numeric(10,2) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "bookings_payment_method_check" CHECK (("payment_method" = ANY (ARRAY['card'::"text", 'venue'::"text"]))),
    CONSTRAINT "bookings_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'confirmed'::"text", 'cancelled'::"text", 'no_show'::"text", 'completed'::"text", 'pending_payment'::"text"])))
);


ALTER TABLE "public"."bookings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."business_gallery" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "business_id" "uuid" NOT NULL,
    "image_url" "text" NOT NULL,
    "category" "text",
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."business_gallery" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."businesses" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "name" "text" NOT NULL,
    "slug" "text" NOT NULL,
    "address" "text",
    "phone" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "category" "text" DEFAULT 'hair'::"text",
    "config" "jsonb" DEFAULT '{"step_interval": 30, "resource_label": "Profesional"}'::"jsonb",
    "logo_url" "text",
    "hero_image_url" "text",
    "subscription_status" "text" DEFAULT 'inactive'::"text",
    "stripe_customer_id" "text",
    "open_hour" "text",
    "close_hour" "text" DEFAULT '21:00'::"text"
);


ALTER TABLE "public"."businesses" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."customers" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "full_name" "text" NOT NULL,
    "phone" "text",
    "email" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "business_id" "uuid"
);


ALTER TABLE "public"."customers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."onboarding_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "business_name" "text" NOT NULL,
    "email" "text" NOT NULL,
    "phone" "text" NOT NULL,
    "status" "text" DEFAULT 'pending'::"text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."onboarding_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "business_id" "uuid" NOT NULL,
    "role" "text" NOT NULL,
    "full_name" "text" NOT NULL,
    "description" "text",
    "email" "text",
    "is_active" boolean DEFAULT true,
    "avatar_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    CONSTRAINT "profiles_role_check" CHECK (("role" = ANY (ARRAY['admin'::"text", 'worker'::"text"])))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."push_subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "customer_id" "uuid",
    "user_email" "text" NOT NULL,
    "subscription" "jsonb" NOT NULL,
    "user_agent" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "business_id" "uuid",
    "staff_id" "uuid",
    "is_active" boolean DEFAULT true
);


ALTER TABLE "public"."push_subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."services" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "business_id" "uuid" NOT NULL,
    "title" "text" NOT NULL,
    "short_desc" "text",
    "full_desc" "text",
    "duration" integer NOT NULL,
    "price" numeric(10,2) NOT NULL,
    "icon" "text",
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "slug" "text",
    "features" "text"[],
    "image_url" "text"
);


ALTER TABLE "public"."services" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."staff_schedules" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "business_id" "uuid",
    "staff_id" "uuid",
    "day_of_week" integer NOT NULL,
    "start_time" time without time zone DEFAULT '09:00:00'::time without time zone NOT NULL,
    "end_time" time without time zone DEFAULT '20:00:00'::time without time zone NOT NULL,
    "break_start" time without time zone,
    "break_end" time without time zone,
    "is_working" boolean DEFAULT true,
    CONSTRAINT "staff_schedules_day_of_week_check" CHECK ((("day_of_week" >= 0) AND ("day_of_week" <= 6)))
);


ALTER TABLE "public"."staff_schedules" OWNER TO "postgres";


ALTER TABLE ONLY "public"."blocked_periods"
    ADD CONSTRAINT "blocked_periods_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."booking_items"
    ADD CONSTRAINT "booking_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."business_gallery"
    ADD CONSTRAINT "business_gallery_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."businesses"
    ADD CONSTRAINT "businesses_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."businesses"
    ADD CONSTRAINT "businesses_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_business_email_key" UNIQUE ("business_id", "email");



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."onboarding_requests"
    ADD CONSTRAINT "onboarding_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_unique_per_business" UNIQUE ("business_id", "user_email", "subscription");



ALTER TABLE ONLY "public"."services"
    ADD CONSTRAINT "services_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."services"
    ADD CONSTRAINT "services_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."staff_schedules"
    ADD CONSTRAINT "staff_schedules_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."staff_schedules"
    ADD CONSTRAINT "staff_schedules_staff_id_day_of_week_key" UNIQUE ("staff_id", "day_of_week");



CREATE INDEX "idx_blocked_periods_business" ON "public"."blocked_periods" USING "btree" ("business_id");



CREATE INDEX "idx_blocked_periods_staff" ON "public"."blocked_periods" USING "btree" ("staff_id");



CREATE INDEX "idx_blocked_periods_status" ON "public"."blocked_periods" USING "btree" ("status");



CREATE INDEX "idx_booking_items_booking" ON "public"."booking_items" USING "btree" ("booking_id");



CREATE INDEX "idx_booking_items_business" ON "public"."booking_items" USING "btree" ("business_id");



CREATE INDEX "idx_bookings_business" ON "public"."bookings" USING "btree" ("business_id");



CREATE INDEX "idx_bookings_business_date" ON "public"."bookings" USING "btree" ("business_id", "date");



CREATE INDEX "idx_bookings_customer_email" ON "public"."bookings" USING "btree" ("business_id", "customer_email");



CREATE INDEX "idx_bookings_date" ON "public"."bookings" USING "btree" ("date");



CREATE INDEX "idx_bookings_staff_date" ON "public"."bookings" USING "btree" ("staff_id", "date");



CREATE INDEX "idx_customers_business" ON "public"."customers" USING "btree" ("business_id");



CREATE INDEX "idx_profiles_business" ON "public"."profiles" USING "btree" ("business_id");



CREATE INDEX "idx_push_subscriptions_business" ON "public"."push_subscriptions" USING "btree" ("business_id");



CREATE INDEX "idx_schedules_business_day" ON "public"."staff_schedules" USING "btree" ("business_id", "day_of_week");



CREATE INDEX "idx_services_business" ON "public"."services" USING "btree" ("business_id");



ALTER TABLE ONLY "public"."blocked_periods"
    ADD CONSTRAINT "blocked_periods_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."blocked_periods"
    ADD CONSTRAINT "blocked_periods_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."booking_items"
    ADD CONSTRAINT "booking_items_booking_id_fkey" FOREIGN KEY ("booking_id") REFERENCES "public"."bookings"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."booking_items"
    ADD CONSTRAINT "booking_items_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id");



ALTER TABLE ONLY "public"."booking_items"
    ADD CONSTRAINT "booking_items_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "public"."services"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "public"."customers"("id");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."business_gallery"
    ADD CONSTRAINT "business_gallery_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id");



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id");



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "public"."customers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."push_subscriptions"
    ADD CONSTRAINT "push_subscriptions_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."services"
    ADD CONSTRAINT "services_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id");



ALTER TABLE ONLY "public"."staff_schedules"
    ADD CONSTRAINT "staff_schedules_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "public"."businesses"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."staff_schedules"
    ADD CONSTRAINT "staff_schedules_staff_id_fkey" FOREIGN KEY ("staff_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



CREATE POLICY "Admin manage gallery" ON "public"."business_gallery" TO "authenticated" USING (("business_id" = "public"."get_my_business_id"())) WITH CHECK (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Admins pueden actualizar servicios" ON "public"."services" FOR UPDATE TO "authenticated" USING ((("business_id" = "public"."get_my_business_id"()) AND (( SELECT "profiles"."role"
   FROM "public"."profiles"
  WHERE ("profiles"."id" = "auth"."uid"())) = 'admin'::"text")));



CREATE POLICY "Admins pueden crear servicios" ON "public"."services" FOR INSERT TO "authenticated" WITH CHECK ((("business_id" = "public"."get_my_business_id"()) AND (( SELECT "profiles"."role"
   FROM "public"."profiles"
  WHERE ("profiles"."id" = "auth"."uid"())) = 'admin'::"text")));



CREATE POLICY "Admins pueden eliminar servicios" ON "public"."services" FOR DELETE TO "authenticated" USING ((("business_id" = "public"."get_my_business_id"()) AND (( SELECT "profiles"."role"
   FROM "public"."profiles"
  WHERE ("profiles"."id" = "auth"."uid"())) = 'admin'::"text")));



CREATE POLICY "Editar mi propio perfil" ON "public"."profiles" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "id"));



CREATE POLICY "Enable insert for authenticated users only" ON "public"."customers" FOR INSERT TO "authenticated" WITH CHECK (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Los usuarios pueden ver clientes de su propio negocio" ON "public"."customers" FOR SELECT USING (("business_id" IN ( SELECT "profiles"."business_id"
   FROM "public"."profiles"
  WHERE ("profiles"."id" = "auth"."uid"()))));



CREATE POLICY "Modificar mis citas" ON "public"."bookings" FOR UPDATE TO "authenticated" USING ((("business_id" = "public"."get_my_business_id"()) AND ((( SELECT "profiles"."role"
   FROM "public"."profiles"
  WHERE ("profiles"."id" = "auth"."uid"())) = 'admin'::"text") OR ("staff_id" = "auth"."uid"()))));



CREATE POLICY "No public access" ON "public"."booking_items" USING (false);



CREATE POLICY "No public access" ON "public"."bookings" USING (false);



CREATE POLICY "No public access" ON "public"."customers" USING (false);



CREATE POLICY "No public access" ON "public"."push_subscriptions" USING (false);



CREATE POLICY "Permitir Actualizar Horarios" ON "public"."staff_schedules" FOR UPDATE TO "authenticated" USING (("business_id" = "public"."get_my_business_id"())) WITH CHECK (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Permitir Eliminar Bloqueos" ON "public"."blocked_periods" FOR DELETE TO "authenticated" USING (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Permitir Insertar Bloqueo de Periodos" ON "public"."blocked_periods" FOR INSERT TO "authenticated" WITH CHECK (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Permitir Insertar Horarios" ON "public"."staff_schedules" FOR INSERT TO "authenticated" WITH CHECK (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Permitir borrar horarios" ON "public"."staff_schedules" FOR DELETE TO "authenticated" USING (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Permitir insertar a cualquiera" ON "public"."onboarding_requests" FOR INSERT WITH CHECK (true);



CREATE POLICY "Public Read Blocked Periods" ON "public"."blocked_periods" FOR SELECT USING (true);



CREATE POLICY "Public Read Businesses" ON "public"."businesses" FOR SELECT USING (true);



CREATE POLICY "Public Read Schedules" ON "public"."staff_schedules" FOR SELECT USING (true);



CREATE POLICY "Public Read Services" ON "public"."services" FOR SELECT USING (true);



CREATE POLICY "Public gallery access" ON "public"."business_gallery" FOR SELECT USING (true);



CREATE POLICY "Staff puede actualizar su suscripci├│n" ON "public"."push_subscriptions" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "staff_id")) WITH CHECK (("auth"."uid"() = "staff_id"));



CREATE POLICY "Staff puede insertar su suscripci├│n" ON "public"."push_subscriptions" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "staff_id"));



CREATE POLICY "Staff puede ver sus suscripciones" ON "public"."push_subscriptions" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "staff_id"));



CREATE POLICY "Usuarios pueden editar su negocio" ON "public"."businesses" FOR UPDATE USING (("id" IN ( SELECT "profiles"."business_id"
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'admin'::"text")))));



CREATE POLICY "Ver a todo mi equipo" ON "public"."profiles" FOR SELECT TO "authenticated" USING (("business_id" = "public"."get_my_business_id"()));



CREATE POLICY "Ver items de mis citas" ON "public"."booking_items" FOR SELECT TO "authenticated" USING (("booking_id" IN ( SELECT "bookings"."id"
   FROM "public"."bookings")));



CREATE POLICY "Ver todas las citas del negocio" ON "public"."bookings" FOR SELECT TO "authenticated" USING (("business_id" = "public"."get_my_business_id"()));



ALTER TABLE "public"."blocked_periods" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."booking_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."bookings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."business_gallery" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."businesses" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."customers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."onboarding_requests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."push_subscriptions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."services" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."staff_schedules" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."blocked_periods";



ALTER PUBLICATION "supabase_realtime" ADD TABLE ONLY "public"."bookings";



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";

























































































































































GRANT ALL ON FUNCTION "public"."create_booking_with_items"("p_booking_data" "jsonb", "p_booking_items" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."create_booking_with_items"("p_booking_data" "jsonb", "p_booking_items" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_booking_with_items"("p_booking_data" "jsonb", "p_booking_items" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_my_business_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_my_business_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_my_business_id"() TO "service_role";


















GRANT ALL ON TABLE "public"."blocked_periods" TO "anon";
GRANT ALL ON TABLE "public"."blocked_periods" TO "authenticated";
GRANT ALL ON TABLE "public"."blocked_periods" TO "service_role";



GRANT ALL ON TABLE "public"."booking_items" TO "anon";
GRANT ALL ON TABLE "public"."booking_items" TO "authenticated";
GRANT ALL ON TABLE "public"."booking_items" TO "service_role";



GRANT ALL ON TABLE "public"."bookings" TO "anon";
GRANT ALL ON TABLE "public"."bookings" TO "authenticated";
GRANT ALL ON TABLE "public"."bookings" TO "service_role";



GRANT ALL ON TABLE "public"."business_gallery" TO "anon";
GRANT ALL ON TABLE "public"."business_gallery" TO "authenticated";
GRANT ALL ON TABLE "public"."business_gallery" TO "service_role";



GRANT ALL ON TABLE "public"."businesses" TO "anon";
GRANT ALL ON TABLE "public"."businesses" TO "authenticated";
GRANT ALL ON TABLE "public"."businesses" TO "service_role";



GRANT ALL ON TABLE "public"."customers" TO "anon";
GRANT ALL ON TABLE "public"."customers" TO "authenticated";
GRANT ALL ON TABLE "public"."customers" TO "service_role";



GRANT ALL ON TABLE "public"."onboarding_requests" TO "anon";
GRANT ALL ON TABLE "public"."onboarding_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."onboarding_requests" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."push_subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."push_subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."push_subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."services" TO "anon";
GRANT ALL ON TABLE "public"."services" TO "authenticated";
GRANT ALL ON TABLE "public"."services" TO "service_role";



GRANT ALL ON TABLE "public"."staff_schedules" TO "anon";
GRANT ALL ON TABLE "public"."staff_schedules" TO "authenticated";
GRANT ALL ON TABLE "public"."staff_schedules" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































